<template>
  <v-container fluid class="pa-0">
    <v-btn class="ma-2" v-on:click="back" outlined color="indigo">Terug</v-btn>
    
    <form>
      <v-container>
        <v-row>
          <v-col cols="12" md="7"><h1>{{vak}}</h1></v-col>
          <v-col cols="12" md="7">
            <v-select :items="items" label="Leerjaar" outlined> </v-select
          ></v-col>
          <v-col cols="12" md="7">
            <v-text-field label="Onderwerp"> </v-text-field
          ></v-col>
          <v-col cols="12" md="7">
            <v-textarea label="Beschrijving"> </v-textarea
          ></v-col>
          <v-col cols="12" md="7">
            <v-btn class="mr-4" @click="submit">submit</v-btn>
            <v-btn @click="clear">clear</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </form>
  </v-container>
</template>

<script>
export default {
  name: "homeview",
  props: {
    msg: String
  },
  data: () => ({
    subject: "",
    discription: "",
    select: null,
    items: [
      "Eerste leerjaar",
      "Tweede leerjaar",
      "Derde leerjaar",
      "Vierde leerjaar",
      "Vijfde leerjaar",
      "Zesde leerjaar"
    ],
    vak: ""
  }),
  created() {
    this.vak = this.$route.params.vak;
  },
  methods: {
    clear() {
      this.subject = "";
      (this.discription = ""), (this.select = null);
    },
    submit: function() {
      this.$router.push({ name: "studentQue" });
    },
    back: function() {
      this.$router.push({ name: "studentLager" });
    },
    Wiskunde: function() {
      this.$router.push("./form:Wiskunde");
    },
    Nederlands: function() {
      this.$router.push("./form:Nederlands");
    },
    Geschiedenis: function() {
      this.$router.push("./form:Geschiedenis");
    },
    wo: function() {
      this.$router.push("./form:wo");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
