<template>
  <v-container fluid class="pa-0">
    <v-btn class="ma-2" v-on:click="back" outlined color="indigo">Terug</v-btn>
    <v-row align="center">
      <v-col cols="12" sm="6">
        <div class="text-center">
          <div class="my-2">
            <v-btn class="ma-2" v-on:click="goLager" outlined color="indigo"
              >Lager onderwijs</v-btn
            >
          </div>
          <div class="my-2">
            <v-btn class="ma-2" v-on:click="goHoger" outlined color="indigo"
              >Hoger onderwijs</v-btn
            >
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "homeview",
  props: {
    msg: String
  },
  methods: {
    back: function() {
      this.$router.push("../");
    },
    goLager: function() {
      this.$router.push("./lager");
    },
    goHoger: function() {
      this.$router.push("./hoger");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
