<template>
  <homeview />
</template>

<script>
import homeview from "../components/homeview";

export default {
  components: {
    homeview
  },
  data() {
    return {
      showSidebar: true
    };
  },
  mounted() {},
  methods: {},
  computed: {}
};
</script>
