<template>
  <v-container fluid class="pa-0">
    <v-row align="center">
      <v-col cols="12" sm="6">
        <div class="text-center">
          <h1>IkZoekEenLeerkracht.com</h1>
          <div class="my-2">
            <v-btn class="ma-2" v-on:click="goStudent" outlined color="indigo"
              >Ik ben student</v-btn
            >
          </div>
          <div class="my-2">
            <v-btn class="ma-2" outlined color="indigo"
              >Log in als expert</v-btn
            >
          </div>
          <div class="my-2">
            <v-btn class="ma-2" outlined color="indigo"
              >Registreer als expert</v-btn
            >
          </div>
          <div class="my-2">
            <v-btn class="ma-2" outlined color="indigo">Log in als admin</v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "homeview",
  props: {
    msg: String
  },
  methods: {
    goStudent: function() {
      this.$router.push('student/education')
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
